<div class="jumbo-container">
  <div class="row mb-5">
    <div class="col-md-12">
      <div class="background">
        <div class="text-white text-center d-flex align-items-center rgba-stylish-light py-5 px-4">
          <div class="py-5 home-jumbo">
            <h2 class="card-title pt-3 mb-5 font-bold jumbo-header">Khaos</h2>
            <div class="home-container">
              <p class="px-5 pb-4 jumbo-subtext">Sneakers made simple.</p>
              <div class="seach-container">
                <input id="search-navigation" name="search" placeholder="Start typing here" type="text" data-list=".navigation_list" data-nodata="No results found" autocomplete="on">

                <ul class="vertical navigation_list">
                 <% @products_all.each do |product| %>
                 <li class="search-items" style="list-style: none;"> - <%= link_to product.name, product, class: 'search-text-results' %> </li>
                 <% end %>
               </ul>
             </div>
             <%= link_to 'Get Started', new_user_registration_path, class: 'btn btn-lg blue-gradient get-started' %>

             <div>
              <p class="sell-button"> Looking to sell? <%= link_to "Click here", new_product_path %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>