<% content_for :body_class, 'seller-background home-padding' %>

<%= render 'masthead' %>
<%= hidden_field_tag "home", "yes" %>

<div class="latest-listings">
  <h1>Latest Listings</h1>
  <hr>
</div>

<div class="container">
  <div class="row home-listings-container">
    
    <%= render partial: 'product', collection: @products %> 

  </div>

</div>