/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* site-wide bottom margin */


.home-padding {
  padding-bottom: 80px;
}

.alert {
  position:fixed; 
  top: 80px; 
  width: 75%;
  position: fixed;
  left: 50%;
  margin-left: -37.5%;
  z-index:9999; 
}

.cursor {
  cursor: pointer;
}

.navbar a,
.navbar a:hover {
  color: #FFF;
}

.card-listing-title  {
  color: #2c3e50;
}


.home-container {
  // margin-bottom: 100px;
  margin-top: 30px;
}

input#search-navigation {
  color: #FFF;
}

// .blue-gradient {
//   position: relative;
//   z-index: 1;
// }

// .rgba-stylish-light {
//   position: relative;
//   z-index
// }


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFF;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFF;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #FFF;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #FFF;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #FFF;
}

li {
  text-align: left !important;
}

li > a {
  color: #FFF;
    position: relative;
  z-index: 3;
}

li > a:hover {
  color: #ecf0f1;
  text-decoration: underline;
}

li.search-items {
  margin-top: 15px;
}

.search-text-results {
  font-weight: 800;
}

ul {
  margin-bottom: 0em !important;
  height: 40px !important;
  overflow: hidden;
}

.padding {
    padding: 60px;
  }
  @media (max-width: 980px) {
    body {
      padding-top: 0;
    }
  }


/* Navbar */

.navbar-brand {
  margin-top: 11px;
}

.sign-up-btn > .btn:hover {
  background: green !important;
  transition: none !important;
}

.btn .fa {
    margin-left: 3px;
}
.top-nav-collapse {
    background-color: #424f95 !important;
}
.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #424f95 !important;
    }
}
h6 {
    line-height: 1.7;
}
.hm-gradient .full-bg-img {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.6)), to(rgba(29, 210, 177, 0.6)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
    background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
}
@media (max-width: 450px) {
    .margins {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}
@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 1020px;
    }
}

/* Set font-styles */

h1, h2, h3, h4 {
  font-family: "futura-pt-bold";
  color: #141823;
}

p {
  font-family: "proxima-nova";
}


/* HOME */

.background {
  background-image: url('/images/home.jpg');
  background-size: cover;
}

.py-5 .home-jumbo {
  margin: auto;
}

.py-5 .jumbo-header {
  font-size: 90px;
  color: #FFF;

}

.mb-5 {
  margin-bottom: 0.2em !important;
}

.py-5 .jumbo-subtext {
  max-width: 800px;
  margin: auto;
  font-size: 40px;
}

.latest-listings {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;
}

.latest-listings hr {
  width: 50%;
}

.jumbo-container .select-wrapper {
  margin: auto;
  color: white;
}

.sell-button {
  margin-top: 20px;
}

.sell-button a {
  color: #fff;
  text-decoration: underline;
}

.jumbo-container .row {
  margin-right: 0px !important;
}

.jumbo-container .col-md-12 {
  padding-right: 0px;
}


/* listing card style */

span.left {
  color: #303e4e !important;
}

span.right {
  color: gray !important;
}

.listing-card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
}

.listing-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}

.margin-top-15 {
  margin-top: 15px;
}

/* Card */

.sign-up {
  margin: auto;
  margin-top: 100px;

}
.sign-up-header {
  margin: 30px;
  color: #2c3e50;
}

.card-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
  width: 100%;
}

.devise-shared {
  margin-top: 20px;
}

.login-padding {
  margin-bottom: 20px;
  margin-top: 22px;
}

.md-form {
  margin-bottom: 1rem !important;
}

.login-background {
  background-image: url('/images/home.jpg');
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .45; 
  }
}


/* show page */

.show-page {
  margin: auto;
}

.reviews {
  margin: 50px 300px;
}

/* Seller Page */

.seller-background {
  background: #f7f7f7;
}

table {
    /*border-collapse: separate;*/
    border-spacing: 10px 50px;
}

.products-listing-table {
  margin: auto;
  margin-top: 50px;
}

table th {
  font-weight: 600 !important;
  font-size: 14px !important;
  text-align: center;
}

table td {
  text-align: center;
}

.table-fixed {
    table-layout: fixed;
    overflow: hidden;
}

.no-listing {
  margin-bottom: 30px;
}

.paid{
  font-family:"proxima-nova";
  color:#999997;
}

.paid_amount{
  font-family:"futura-pt-bold";
  color:#85bb65;
}

.paid_container{
  width: 100%;
  margin: 0 auto;
  text-align: center
}

.home-jumbo{
  height: 28em;
}

// new product

.login-container {
  width: 500px;
  margin: auto;
}

.new-product {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 70px;
}

.new-product-card {
  padding: 30px;
}

.text-area-description {
  padding-left: 20px !important;
}

.white-background-text {
  background-color: #FFF;
}


.new-listing-btn {
  margin-top: 20px;
}


.listings-title {
  text-align: center;
}

.time-ago {
  font-style: italic;
  font-size: 0.8em;
  margin-top: 1em;
}

.comment-text {
  font-weight: 400;
  margin-bottom: 10px;
}

.new-listing{
  text-align: center;
}
.new-product-edit-destroy-buttons{
  text-align: center;
}

.edit-user-padding-bottom {
  padding-bottom: 1.3em;
}

.comment-body {
  font-weight: 400;
}
