<% content_for :body_class, 'seller-background' %>

<div class="row">
<div class="show-page">

<% if current_user.products.present? %>

<%= render partial: 'products_table' %>

<% else %>

    <H4 class="no-listing"> No Listings Found </H4>

<% end %>


</div>
</div>
